# .yarnrc

# Establecer el registro npm para el proyecto
npmRegistry: https://registry.npmjs.org/

# Habilitar el uso de Workspaces para administrar dependencias
workspaces-experimental: true

# Especificar el directorio de almacenamiento global de paquetes
yarn-path: ".yarn"

# Utilizar el bloqueo rápido para acelerar las instalaciones en CI
enableImmutableInstalls: true

# Especificar el tiempo de espera para conexiones de red en milisegundos
network-timeout: 30000

# Especificar el número máximo de intentos de descarga de paquetes
network-concurrency: 8

# Deshabilitar la telemetría para respetar la privacidad del usuario
telemetry: 0
